@import "../../less/params";

.header {
  padding: 10px 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  flex: 0 0 auto;
  flex-wrap: wrap;
  background-color: @color-grey-230;

  &__item {}

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: @color-grey-100;
    font-size: @font-size;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    margin: 0 10px 10px 0;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &_active {
      color: @color-white;
      cursor: pointer;
      background-color: @color-blue;
    }

    & > * {
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
